@layer base {
  dialog {
    @apply text-foreground;
  }

  pre {
    @apply max-w-full overflow-auto text-sm text-muted-foreground bg-muted rounded-md;
  }

  textarea {
    @apply resize-none;
  }

  select[multiple] {
    @apply max-h-11;
  }

  button, [role="button"] {
    @apply cursor-pointer;
  }

  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  /* FIX for tailwind */
  select.choices__input[required][hidden] {
    display: block !important;
  }
}

.turbo-progress-bar {
  @apply h-0.5 bg-primary;
}
