@layer utilities {
  .sr-only {
    @apply fixed;
  }
  .row { display: flex; flex-direction: row; align-items: center; }
  .col { display: flex; flex-direction: column; }
}

@utility text-trim-none { text-box-trim: none; }
@utility text-trim-trim-both { text-box-trim: trim-both; }
@utility text-trim-trim-start { text-box-trim: trim-start; }
@utility text-trim-trim-end { text-box-trim: trim-end; }

