@reference "../../../../assets/entrypoints/tailwind.css";

  .tooltip {
    --tooltip-bg: var(--color-gray-900);
    @apply absolute z-20 px-3 py-2 text-xs text-center shadow-sm pointer-events-none;
    @apply text-white rounded-tooltip;
    background-color: var(--tooltip-bg);
  }
  .tooltip::after {
    @apply absolute rotate-45 size-2;
    background-color: var(--tooltip-bg);
    content: "";
  }
  .tooltip[data-placement^="top"]::after {
    @apply bottom-0 -translate-x-1/2 translate-y-1/2 left-1/2;
  }
  .tooltip[data-placement^="bottom"]::after {
    @apply top-0 -translate-x-1/2 -translate-y-1/2 left-1/2;
  }
  .tooltip[data-placement^="left"]::after {
    @apply right-0 translate-x-1/2 -translate-y-1/2 top-1/2;
  }
  .tooltip[data-placement^="right"]::after {
    @apply left-0 -translate-x-1/2 -translate-y-1/2 top-1/2;
  }
