<% content_for :container_class, "lg:max-w-3xl lg:mx-auto" %>
<div class="screen screen-enter-right">
  <%= render Ui::BgShapes::Component.new(variant: "warm") %>

  <%= render Ui::TopBar::Component.new(
    title: "Editar recompensa",
    subtitle: @reward.title,
    back_url: parent_rewards_path
  ) %>

  <div class="mt-4 z-2">
    <%= render 'form', reward: @reward %>
  </div>
</div>
