<div class="page-enter">

  <%= render Ui::TopBar::Component.new(
        title: "Editar prêmio",
        subtitle: @reward.title,
        back_url: parent_rewards_path
      ) %>

  <%= render "form", reward: @reward %>
</div>
