<div class="screen screen-enter with-nav">

  <%= render Ui::TopBar::Component.new(
        title: "Novo prêmio",
        subtitle: "Crie um prêmio para as crianças trocarem suas estrelinhas",
        back_url: parent_rewards_path
      ) %>

  <%= render "form", reward: @reward %>
</div>
