<div class="screen screen-enter-right">
  <%= render Ui::BgShapes::Component.new(variant: "warm") %>

  <%= render Ui::TopBar::Component.new(
        title: "Editar #{@profile.name}",
        subtitle: "Personalize o perfil da criança.",
        back_url: parent_profiles_path
      ) %>

  <div class="z-content">
    <%= render 'form', profile: @profile %>
  </div>
</div>
