<div class="page-enter-right">

  <%= render Ui::TopBar::Component.new(
        title: "Editar #{@profile.name}",
        subtitle: "Personalize o perfil da criança.",
        back_url: parent_profiles_path
      ) %>

    <%= render 'form', profile: @profile %>
</div>
