<div class="screen screen-enter-right">
  <%= render Ui::BgShapes::Component.new(variant: "warm") %>

  <%= render Ui::TopBar::Component.new(
    title: "Novo perfil",
    subtitle: "Crie um perfil para seu filho(a)",
    back_url: parent_root_path
  ) %>

  <div class="mt-4 z-2">
    <%= render 'form', profile: @profile %>
  </div>
</div>
