<div class="page-enter-right">

  <%
    if params[:invited] == "true"
      topbar_title    = "Bem-vindo à família!"
      topbar_subtitle = "Crie seu perfil para começar"
    elsif params[:onboarding] == "true"
      topbar_title    = "Crie seu perfil de pai/mãe"
      topbar_subtitle = "Configure seu acesso à família"
    else
      topbar_title    = "Nova criança"
      topbar_subtitle = "Crie um perfil para seu filho(a) conquistar estrelinhas"
    end
  %>

  <%= render Ui::TopBar::Component.new(
        title: topbar_title,
        subtitle: topbar_subtitle,
        back_url: parent_root_path
      ) %>

    <%= render 'form', profile: @profile %>
</div>
