<div class="page-enter">

  <%= render Ui::TopBar::Component.new(
        title: "Editar categoria",
        subtitle: @category.name,
        back_url: parent_categories_path
      ) %>

  <%= render "form", category: @category %>
</div>
