<div class="page-enter-right">

  <%= render Ui::TopBar::Component.new(
    title: "Editar missão",
    subtitle: "Ajuste os detalhes da tarefa",
    back_url: parent_global_tasks_path
  ) %>

    <%= render 'form', global_task: @global_task %>
</div>
