<div class="mb-8">
  <h1 class="text-2xl font-bold text-gray-900">Editar Tarefa Global</h1>
</div>

<%= render Ui::Card::Component.new(class: "px-4 py-5 sm:p-6") do %>
  <%= render 'form', global_task: @global_task %>
<% end %>
