<div class="screen screen-enter-right">
  <%= render Ui::BgShapes::Component.new(variant: "blue") %>

  <%= render Ui::TopBar::Component.new(
    title: "Editar missão",
    subtitle: "Ajuste os detalhes da tarefa",
    back_url: parent_global_tasks_path
  ) %>

  <div class="mt-4" style="z-index: 2;">
    <%= render 'form', global_task: @global_task %>
  </div>
</div>
