<div class="page-enter-right">

  <%= render Ui::TopBar::Component.new(
    title: "Nova missão",
    subtitle: "Crie uma tarefa para a família conquistar estrelinhas",
    back_url: parent_global_tasks_path
  ) %>

    <%= render 'form', global_task: @global_task %>
</div>
