<%# Trigger Celebration %>
<%= turbo_stream.append "body" do %>
  <div data-controller="celebration" data-celebration-auto-value="true">
    <div class="confetti-layer" data-celebration-target="layer" style="display:none;"></div>
  </div>
<% end %>

<%# Update Balance (animated via count-up controller's currentValueChanged) %>
<%= turbo_stream.set_attribute "profile_points_#{current_profile.id}", "data-count-up-current-value", current_profile.reload.points %>

<%# Show Toast %>
<%= turbo_stream.prepend "flash" do %>
  <%= render Ui::Flash::Component.new.tap { |c| flash.now[:notice] = "Resgate solicitado! Aguarde a aprovação. 🎁" } %>
<% end %>
