@layer components {
  .scroller-x {
    @apply overflow-x-auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .scroller-x::-webkit-scrollbar-track {
    background: transparent;
  }

  .scroller-x::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
