<div class="screen flex flex-col items-center justify-center p-10">
  <%= render Ui::LogoMark::Component.new(size: 48) %>
  <h1 class="font-display text-[28px] font-extrabold mb-6">Quem é você?</h1>
  <%= render Ui::ProfilePicker::Component.new(profiles: @profiles, selected: @selected_profile) %>
</div>
