<%= turbo_stream_from "kid_#{current_profile.id}" if current_profile %>
<div id="fx_stage" class="contents"></div>
<div id="fx_confetti_layer" class="confetti-layer pointer-events-none fixed inset-0 z-[200]" style="display:none"></div>
